.user-container{
    border: 0.3px solid grey;
    display: flex;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: white;
    min-width: 300px;
}

.user-container img{
    border-radius: 50%;
}

.user-container > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}